@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Bold.eot');
    src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
    url('../fonts/MyriadPro-Bold.woff') format('woff'),
    url('../fonts/MyriadPro-Bold.ttf') format('truetype'),
    url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.eot');
    src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Oswald-Regular.woff2') format('woff2'),
    url('../fonts/Oswald-Regular.woff') format('woff'),
    url('../fonts/Oswald-Regular.ttf') format('truetype'),
    url('../fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-size: inherit;
}

.main_container {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    flex-direction: column;
}

.background_container, .background_container_black, .background_container_grey {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}

.head {
    justify-content: center;
    flex-basis: 1176px;
    padding-left: 147px;
    padding-bottom: 30px;
    font-size: 30px;
    font-family: "Myriad Pro";
}

.background_container_black {
    background-color: black;
}

.background_container_grey {
    background-color: #c4c4c4;
    border-top: solid 4px white;
}

.head_black, .head_grey {
    padding-left: 147px;
    justify-content: center;
    flex-basis: 1176px;
    line-height: 95px;
    font-size: 48px;
    color: white;
    font-family: "Myriad Pro";
}

.head_black:first-of-type:after {
    padding-left: 45px;
    position: absolute;
    content: "РЕГИСТРАЦИЯ";
    font-size: 18px;
    font-family: "Oswald";
}

.head_grey:first-of-type:after {
    padding-left: 45px;
    position: absolute;
    content: "ОТКРЫТИЕ";
    font-size: 18px;
    font-family: "Oswald";
}