@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Bold.eot');
    src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
    url('../fonts/MyriadPro-Bold.woff') format('woff'),
    url('../fonts/MyriadPro-Bold.ttf') format('truetype'),
    url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.eot');
    src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Oswald-Regular.woff2') format('woff2'),
    url('../fonts/Oswald-Regular.woff') format('woff'),
    url('../fonts/Oswald-Regular.ttf') format('truetype'),
    url('../fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-size: inherit;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.head_cont {
    padding-left: 147px;
    font-size: 30px;
    font-family: 'Myriad Pro';
}

.head_cont {
    max-width: 1176px;
    margin: auto;
}

.bg_time:first-of-type {
    line-height: 82px;
}

.bg_time {
    width: 100%;
    line-height: 95px;
}

.black_bg {
    background-color: black;
}

.grey_bg {
    background-color: #c4c4c4;
    border-top: solid 4px white;
}

.time {
    max-width: 1176px;
    line-height: 95px;
    margin: auto;
    padding-left: 147px;
    color: white;
    font-size: 48px;
    font-family: 'Myriad Pro';
}

.bl {
    background-color: black;
}

.gr {
    background-color: #c4c4c4;
}

.bl:first-of-type:after {
    content: "РЕГИСТРАЦИЯ";
    font-size: 18px;
    font-family: 'Oswald';
    margin-left: 45px;
    position: absolute;
}

.gr:first-of-type:after {
    content: "ОТКРЫТИЕ";
    font-size: 18px;
    font-family: 'Oswald';
    margin-left: 45px;
    position: absolute;
}

.bg_Malevich_conteiner {
    width: 100%;
    line-height: 553px;
}

.Malevich_conteiner {
    max-width: 1176px;
    height: 267px;
    margin: auto;
}

.Malevich {
    width: 210px;
    height: 210px;
    background: black;
    display: block;
    float: left;
}

.Malevich:first-of-type {
    margin: 32px 14px 24px 146px;
}

.time2 {
    font-size: 24px;
    max-width: 410px;
    line-height: 80;
    color: black;
    font-family: 'Oswald';
    display: block;
    float: right;

}
