@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Bold.eot');
    src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
    url('../fonts/MyriadPro-Bold.woff') format('woff'),
    url('../fonts/MyriadPro-Bold.ttf') format('truetype'),
    url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.eot');
    src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Oswald-Regular.woff2') format('woff2'),
    url('../fonts/Oswald-Regular.woff') format('woff'),
    url('../fonts/Oswald-Regular.ttf') format('truetype'),
    url('../fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-size: inherit;
}

.main_container {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
}

.background_container, .background_container_black, .background_container_grey, .background_container_info, .background_container_grey2 {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}

.head {
    justify-content: center;
    flex-basis: 1176px;
    margin-left: 147px;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: "Myriad Pro";
}

.background_container_black {
    background-color: black;
}

.background_container_grey {
    background-color: #c4c4c4;
    border-top: solid 4px white;
}

.background_container_grey2 {
    background-color: #c4c4c4;
    border-top: solid 4px white;
    border-bottom: solid 4px white;
}

.head_black1, .head_black2, .head_black3, .head_black4, .head_grey1, .head_grey2 {
    margin-left: 147px;
    justify-content: center;
    flex-basis: 1176px;
    line-height: 95px;
    font-size: 48px;
    color: white;
    font-family: "Myriad Pro";
}

.head_black1:after {
    content: "РЕГИСТРАЦИЯ";
    padding-left: 45px;
    position: absolute;
    font-size: 18px;
    font-family: "Oswald";
}

.head_grey1:after {
    padding-left: 45px;
    position: absolute;
    content: "ОТКРЫТИЕ";
    font-size: 18px;
    font-family: "Oswald";
}

.head_black2:after {
    content: "КОФЕ-БРЕЙК";
    padding-left: 45px;
    position: absolute;
    font-size: 18px;
    font-family: "Oswald";
}

.head_black3:after {
    content: "ХЭДЛАЙНЕР";
    padding-left: 45px;
    position: absolute;
    font-size: 18px;
    font-family: "Oswald";
}

.head_grey2:after {
    padding-left: 45px;
    position: absolute;
    content: "ТОК-ШОУ";
    font-size: 18px;
    font-family: "Oswald";
}

.head_black4:after {
    content: "ОБЕД";
    padding-left: 45px;
    position: absolute;
    font-size: 18px;
    font-family: "Oswald";
}

.container_info {
    flex-basis: 1176px;
    height: 266px;
    display: flex;
    margin-left: 146px;
}

.img1 {
    margin-top: 32px;
}

.img2 {
    margin-top: 24px;
}

.img3 {
    margin-top: 36px;
}

.time1 {
    font-size: 40px;
    font-family: "Myriad Pro";
    margin: 56px 37px 0 14px;
}

.time2 {
    font-size: 40px;
    font-family: "Myriad Pro";
    margin: 48px 37px 0 14px;
}

.time3 {
    font-size: 40px;
    font-family: "Myriad Pro";
    margin: 60px 37px 0 14px;
}

.name1 {
    margin-top: 63px;
    font-size: 24px;
    font-family: "Oswald";
}

.name2 {
    margin-top: 55px;
    font-size: 24px;
    font-family: "Oswald";
}

.name3 {
    margin-top: 67px;
    font-size: 24px;
    font-family: "Oswald";
}

.description1 {
    font-size: 18px;
    font-family: "Oswald";
    position: relative;
    top: 102px;
    right: 82px;
    width: 250px;
    height: 150px;
}

.description2 {
    font-size: 18px;
    font-family: "Oswald";
    position: relative;
    top: 93px;
    right: 174px;
    width: 250px;
    height: 150px;
}

.description3 {
    font-size: 18px;
    font-family: "Oswald";
    position: relative;
    top: 106px;
    right: 155px;
    width: 250px;
    height: 150px;
}

.container_info:last-of-type {
    height: 282px;
}
